body {
	background: #cdd1d5;
	font-family: 'Raleway', sans-serif;

}

// header
.home-wrap {

.mobile-nav {
	display: none;
	position: absolute;
	width: 100%;
	background: white;
	padding: 30px 0px 20px 0px;
	transform: translateY(-100%);
	transition: all 0.3s ease-in-out;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		
		li {
			text-align: center;
			margin-bottom: 10px;
		}
	}
}


header {
	width: 150px;
	background: white;
	padding: 0 0 30px 0;
	

	.header-position {
		width: auto;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 150px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	
	
		.logo {
			@include hide-text;
			max-width: 135px;
			background:{
			image: url("/assets/images/logo.svg");
			repeat: no-repeat;
			position: center;
			size: contain;
			}
			height: 80px;
			padding: 0;
			margin: 0;
		}
	

	

		.site-nav {
			ul {
				list-style: none;
				margin: 20px 0;
				padding: 0 20px 0 0;
				text-align: right;
				font-size: 18px;
				font-weight: bold;
			}
			li {
				margin-bottom: 10px;
				color: #263986;

				&:last-child {
					margin-bottom: 0px;
				}
			}
		}
		.email-link {
			display: block;
			text-align: right;
			padding: 0 20px 0 0;
			text-decoration: none;
			color: #263986;
	}	
		.mobile-nav-toggle {
			display: none;
			width: 40px;
			height: 40px;
			//background: pink;
			margin-right: 20px;
			align-items: center;
			cursor: pointer;


			span, span:before, span:after {
				content: "";
				display: block;
				height: 2px;
				background: #333;
				width: 100%;
				position: relative;	
				transition: all 0.3s ease-in-out;			
			}

			span:before {
				top: 13px;
			}

			span:after {
				top: -15px;
			}

			&.is-open span{
				background: transparent;
			}

			&.is-open span:before,
			&.is-open span:after {
				transform-origin: center;
				transform: rotate(46deg);
				top: 0;
			}

			&.is-open span:after {
				transform: rotate(-46deg);
			}
			
		}
}

}
}



// home sections

.home-wrap {
	display: flex;
	min-height: 100vh;

	@media (max-width: 775px) {
	display: block;
}
}

@media (max-width: 775px){
	.home-wrap {

		.mobile-nav.is-open {
					display: block;
					transform: translateY(0);
			}

		header {
			width: auto;
			padding: 20px 0;

			.header-position {
				width: auto;
				position: relative;
				top: auto;
				bottom: auto;
				right: auto;
				flex-direction: row;
				align-items: center;

				.site-nav, .email-link {
					display: none;
					}

				.logo {
					height: 50px;
					}
				
				.mobile-nav-toggle {
					display: flex;
					}
				}
			}
		}
	}












